<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Needed to see the game package on Android 11+ -->
    <queries>
        <package android:name="com.Earthkwak.Platformer" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Bearite"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bearite">

        <receiver
            android:name=".InstallReceiver"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
